* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/*
37.5em       phone
46.25em      phone-land
56.25em      table portrait
75em         table landscape
{1200-1800px}  is where normal styles apply
112.5em       big screen

$breakpoint argument choices:
phone
tab-port
tab-land
big-desktop

1em = 16px
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #404040;
  background-color: #fcfcfc; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 6rem; }
  .container__header {
    padding: 0 6rem; }

.flex-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.header {
  background: #000000; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    font-size: 1.7rem; }
   
.footer {
  display: flex;
  align-items: center;
  padding: 4rem 0 2.5rem 0;
  background-color: #000000; }

.heading-terciary {
  font-size: 2rem;
  margin-bottom: 1rem; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.8; }

.logo {
  display: flex;
  align-items: center; }
  .logo__img {
    width: 10.5rem;
    height: 10.5rem; }

  .logo__img__footer {
    width: 4.7rem;
    height: 4.7rem;
  }

  

.user-nav {
  display: flex;
  font-size: 1.6rem; }
 
  .user-nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    text-decoration: none;
    transition: all 400ms; }
    .user-nav__link:link, .user-nav__link:visited {
      color: rgba(255, 255, 255, 0.8); }
    .user-nav__link:hover {
      color: #fff;
      background: #d8364c; }
    

.hero {
  height: 99vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative; }
  
  .hero .hero__layer {
    background-color: rgba(0, 0, 0, 0.4); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .hero__content {
    width: 100%;
    z-index: 5; }
  .hero__heading {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 4rem;
    color: rgb(255, 255, 255); }
    
    .hero__heading--name {
      color: #d8364c; }

.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 2rem 3rem;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #d8364c;
  transition: all 400ms; }
 
  .btn:hover {
    background-color: #bd032b; }

.section-header {
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(62deg, #fc5d76, #bd032b); 
}
 
  .section-header__heading {
    font-size: 5.5rem;
    color: #fff; }
   
  .section-header__paragraph {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.8); 
  }
    
.card {
  width: calc(100% / 3 - 2rem);
  height: 43rem;
  margin: 1rem;
  overflow: hidden;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  
  .card__thumbnail {
    height: 58%;
    width: 100%;
     }
  .card__img-container {
    display: block;
    height: 100%; }
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card__description {
    padding: 1rem;
    height: 42%;
    text-align: center;
    background-color: #fff;
    position: relative; }
  .card__heading {
    font-size: 2rem;
    display: inline-block;
    transition: all 350ms; }
    
  .card__link {
    text-decoration: none;
    color: #404040; }
  .card__text {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 200; }

  .card__github, .card__demo {
    font-size: 1.8rem;
    text-decoration: none;
    color: #999999;
    transition: color 250ms ease-out;
    position: absolute;
    bottom: 1rem;
    transform: translateX(50%); 
  }
    .card__github:hover, .card__demo:hover {
      color: #fc5d76; }
     
  .card__demo {
    transform: translateX(-175%); 
  } 


.footer-nav {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8); }
  .footer-nav__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: all 400ms; }
    .footer-nav__link:hover {
      color: #fff;
      text-decoration: underline; }

.social-media {
  font-size: 3.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around; }
  .social-media a:not(:last-child) {
    margin-right: 2rem; }
  .social-media__icon {
    color: rgba(255, 255, 255, 0.8);
    transition: all 400ms; }
    .social-media__icon:hover {
      color: #d8364c; }

.copyright {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto; }
  .copyright__name {
    color: #d8364c;
    font-weight: bold; }

.margin-bottom-small {
  margin-bottom: 2rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-large {
  margin-bottom: 6rem !important; }
 

.margin-top-small {
  margin-top: 2rem !important; }

.margin-top-medium {
  margin-top: 4rem !important; }

.margin-top-large {
  margin-top: 6rem !important; }

.center-text {
  text-align: center !important; }

 
::-webkit-scrollbar {
    width: 7px;
    height: 5px; 
}
  
::-webkit-scrollbar-thumb {
    background: #d8364c;
    border-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; 
}
  
::selection {
    background: #d8364c;
}  


/* MEDIA QUERIES */


@media only screen and (min-width: 112.5em) { /* 1800px */
  html {
    font-size: 75%; 
  } 
  .hero {
    height: 95vh; 
  }
}

@media only screen and (max-width: 75em) { /* 1200px */
  html {
    font-size: 56.25%; 
  } 
  .hero {
    height: 92vh; 
  }
}

@media only screen and (max-width: 56.25em) { /* 900px */
    html {
      font-size: 50%; 
    }  
    .hero {
      height: 50vh; 
    }
    .container {
      padding: 4rem 4rem; 
    }
    .container__header {
      padding: 0 4rem; 
    }
    .container__footer {
      padding: 2rem 4rem; 
    }
    .card {
      width: calc(100% / 2 - 2rem); 
    } 
}

@media only screen and (max-width: 46.25em) { /* 740px */
  .hero {
    height: 92vh; } 
  }

      
@media only screen and (max-width: 37.5em) { /* 600px */
    html {
      font-size: 50%; 
    } 
    .container {
      padding: 4rem 1.5rem; 
    }
    .container__header {
      padding: 0 1.5rem; 
    }
    .container__footer {
      padding: 2rem 1.5rem; 
    }
    .header__wrapper {
      height: 6rem;
      font-size: 1.5rem; 
    } 
    .logo {
      display: none; 
    }
    .user-nav {
      width: 100%;
      justify-content: space-between; 
    }
    .user-nav__link {
      padding: 1rem; 
    }
    .hero {
      height: 40vh;
      background-position: center; 
    }
    .hero__heading {
      font-size: 3rem;
      margin-bottom: 2rem; 
    }
    .btn {
      padding: 1rem; 
    }
    .margin-bottom-large {
      margin-bottom: 0 !important; 
    }
    .card {
      width: 95%;
      margin: 1rem auto; 
    }
    .card__text {
      margin-top: 0; 
    }
    .section-header {
      padding: 1rem; 
    }
    .section-header__heading {
      font-size: 2.5rem; 
    }
    .section-header__paragraph {
      font-size: 1.8rem;
      margin-bottom: 0; 
    } 
    
}




    

   